<div class="container">
    <div class="search">
        <mat-icon>search</mat-icon>
        <mat-form-field class="searchBar">
            <input type="search" matInput placeholder="Search" [(ngModel)]="searchTerm">
        </mat-form-field>
    </div>
    <mat-card *ngFor="let account of accounts | filter:searchTerm">
        <button mat-button (click)="openProfile(account)">
            <mat-card-title>{{ account.firstName }} {{ account.lastName }}</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-subtitle>{{ account.email }}</mat-card-subtitle>
        </button>
    </mat-card>
</div>
  