.container 
    padding: 1em
    margin-bottom: 1em

mat-card
    margin: 1em

mat-card-subtitle, mat-card-title
    padding: 1.5em

searchBar
    text-align: center

mat-icon
    margin-right: 0.2em

.search
    border: #ebebeb 2px solid

mat-card
    text-align: center