<div class="success" *ngIf="(success === true && !error)">
    <div class="icon">
        <mat-icon>check</mat-icon>
    </div>
    <mat-card-title>Successfully Changed Password of {{ name | titlecase }}</mat-card-title>
</div>
<div class="failure" *ngIf="error">
    <div class="icon">
        <mat-icon>block</mat-icon>
    </div>
    <mat-card-title>Unsuccessful</mat-card-title>
</div>

<form *ngIf="(!loading && success === undefined); else isLoading" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm)">
    <mat-form-field fxLayout="column" fxLayoutAlign="space-evenly center">
        <mat-label>Change Users Password</mat-label>
        <input matInput formControlName="newPassword" minlength="6" placeholder="New Password">
        <mat-error>Password Must Be Minimum of 6 Characters</mat-error>
    </mat-form-field>
    <button [disabled]="changePasswordForm.invalid" mat-raised-button color="primary" type="submit">Submit</button>
</form>
<ng-template #isLoading>
    <div fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner *ngIf="loading === true"></mat-spinner>
    </div>
</ng-template>