<div [class.isDarkTheme]="otherTheme">
    <app-toolbar (sidenavToggle)="sidenav.toggle()" style="position:absolute;top:0;left:0;right:0;bottom:0;"></app-toolbar>
    <div class="main">
        <mat-sidenav-container fullscreen>
            <mat-sidenav-content>
            <main>
                <router-outlet></router-outlet>
            </main>
            </mat-sidenav-content>
            <mat-sidenav #sidenav role="navigation">
                <app-sidenav (closeSidenav)="sidenav.close()"></app-sidenav>
            </mat-sidenav>
        </mat-sidenav-container>
    </div>
</div>