<p>reset-password works!</p>


<!-- add linear -->
<mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="verificationFormGroup">
        <form [formGroup]="verificationFormGroup">
            <ng-template matStepLabel>Enter Verification Code</ng-template>
            <mat-card
                fxLayout="column" 
                fxLayoutAlign="space-around center">
            <mat-form-field>
                <input 
                    matInput 
                    placeholder="Verification Code" 
                    formControlName="verificationCtrl" 
                    >
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
            </mat-card>
        </form>
    </mat-step>
    <mat-step [stepControl]="passwordForm">
        <ng-template matStepLabel>New Password</ng-template>
        <mat-card
            fxLayout="column" 
            fxLayoutAlign="space-around center">
            <form 
                [formGroup]="passwordForm"
                (ngSubmit)="onSubmit()">
            <mat-form-field 
                hintLabel="Password Must be longer than 10 characters">
                <input 
                    [type]="hide ? 'text' : 'password'"
                    matInput
                    placeholder="Enter New Password"
                    formControlName="password"
                    minlength="6"
                    >
                    <button 
                        mat-icon-button 
                        matSuffix 
                        (click)="hide = !hide" 
                        [attr.aria-label]="'Hide password'" 
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <input 
                    type="password"
                    matInput
                    placeholder="Confirm Password"
                    formControlName="confirmPassword">
                    <!-- <mat-error *ngIf="(confirmPassword.touched && confirmPassword.invalid)">Field is required!</mat-error> -->
                    <!-- <mat-error *ngIf="confirmPassword.errors.passwordsShouldMatch">Passwords do not match!</mat-error> -->
                </mat-form-field>
                {{confirmPassword.errors | json}}
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
            </form>
        </mat-card>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
            <mat-card
                fxLayout="column" 
                fxLayoutAlign="space-around center">
                    You are now done.
            </mat-card>
        <div>
        <!-- <button mat-button matStepperPrevious>Back</button> -->
        <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
        </div>
    </mat-step>
</mat-horizontal-stepper>