
<!-- add linear -->
<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="verificationFormGroup" editable="false">
        <form [formGroup]="verificationFormGroup">
            <ng-template matStepLabel>Enter Verification Code</ng-template>
            <mat-card
                fxLayout="column" 
                fxLayoutAlign="space-around center">
            <mat-form-field>
                <input 
                    matInput 
                    placeholder="Verification Code" 
                    formControlName="verificationCtrl">
                    <mat-error>Please enter a valid verification code!</mat-error>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="center center" >
                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
            </mat-card>
        </form>
    </mat-step>
    <mat-step [stepControl]="passwordForm">
        <ng-template matStepLabel>New Password</ng-template>
        <mat-card
            fxLayout="column" 
            fxLayoutAlign="space-around center">
            <form 
                [formGroup]="passwordForm"
                (ngSubmit)="onSubmit(passwordForm)">
            <mat-form-field>
                <input 
                    [type]="hide ? 'text' : 'password'"
                    matInput
                    placeholder="Enter New Password"
                    formControlName="password"
                    minlength="6">
                    <mat-error *ngIf="password.errors?.minlength">Passwords must be longer than 6 characters</mat-error>
                    <mat-error *ngIf="password.errors?.required">Field is required!</mat-error>
                    <button 
                        mat-icon-button 
                        matSuffix 
                        (click)="hide = !hide" 
                        [attr.aria-label]="'Hide password'" 
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <input 
                    [type]="hide ? 'text' : 'password'"
                    matInput
                    placeholder="Confirm Password"
                    formControlName="confirmPassword">
                    <mat-error *ngIf="confirmPassword.errors?.required">Field is required!</mat-error>
                    <mat-error *ngIf="confirmPassword.invalid && confirmPassword.errors?.passwordsShouldMatch">Passwords do not match!</mat-error>
                </mat-form-field>
                <!-- {{confirmPassword.errors | json}} -->
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
            </form>
        </mat-card>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
            <mat-card
                fxLayout="column" 
                fxLayoutAlign="space-around center">
                    Your password has now been changed.
            </mat-card>
        <div>
        <!-- <button mat-button matStepperPrevious>Back</button> -->
        <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
        </div>
    </mat-step>
</mat-horizontal-stepper>