<section class="forgotPassword">
    <mat-card>
      <mat-card-title fxLayoutAlign="center">We Can Send You A Link To Reset Password.</mat-card-title>
      <form 
      fxLayout="column" 
      fxLayoutAlign="center center" 
      fxLayoutGap="10px" 
      [formGroup]="emailForm"
      (ngSubmit)="onSubmit(emailForm)">
        <mat-form-field>
          <input 
          type="email" 
          matInput 
          placeholder="What is Your Email" 
          formControlName="email">
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="emailForm.invalid">Submit</button>
      </form>
    </mat-card>
  </section>