

<table *ngIf="tableData" mat-table [dataSource]="tableData" class="mat-elevation-z1">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Scheme ID </th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
  
    <!-- Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Course Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Course Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Column -->
    <ng-container matColumnDef="dateLinked">
      <th mat-header-cell *matHeaderCellDef> Date Linked </th>
      <td mat-cell *matCellDef="let element"> {{element.dateLinked | date: 'short'}} </td>
    </ng-container>
  
    <!-- Column -->
    <ng-container matColumnDef="linked">
      <th mat-header-cell *matHeaderCellDef> Linked </th>
      <td mat-cell *matCellDef="let element"> {{element.linked}} </td>
    </ng-container>

    <ng-container matColumnDef="rules">
      <th mat-header-cell *matHeaderCellDef>Rules</th>
      <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="openRules(element)">See Rules</button></td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>